/* applies to all pages */

body {
    font-family: DM Sans;
    background-color: #F6F5EF;
}

a {
  color: black;
  font-weight: 500;
}

.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    /* padding: 10px; */
}

.navigation-links {
    display: flex;
    gap: 50px;
}

/* .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-text {
  text-decoration: none;
} */


/* homepage */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #F6F5EF;
}

.main-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("/assets/header.gif");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* position: fixed; */
}

.intro-text {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 442px;
    height: 272px;
    flex-shrink: 0;
}

#memoji, #memoji-wave {
  width: 100px;
}

h1 {
    color: var(--Main-Black, #181717);
    font-family: DM Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 97.2%; /* 58.32px */
    letter-spacing: -1.8px;
}

.typewriter h1 {
  /* color: #fff; */
  overflow: hidden;
  font-family: DM Sans;
  font-size: 35px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 10 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  10% { border-color: black }
}


h2 {
    color: #606060;

    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%; /* 37.44px */
    letter-spacing: -0.96px;
    text-align: left;
    padding-bottom: 45px;
}


#down-arrow {
  width: 5%;
  margin-bottom: 50px;
}

#down-arrow:hover {
  width: 5%;
  margin-bottom: 50px;
  position: relative;
  top: 10px;
}

.project-card1 {
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url("/assets/ai-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100vh;
}


.project-card2 {
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url("/assets/bookmark-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100vh;
  /* width: 100%;  */
}

.project-card3 {
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url("/assets/search-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 95vh;
  /* width: 100%;  */
}

.project-cover-content {
  align-content: center;
  width: 35%; 
  margin: 100px;
}

.scroller {
  scroll-snap-type: y mandatory;

  height: 100vh;
  overflow-y: scroll; 
  /* min-height: 100%; */
  /* flex-flow: column;  */

  /* scroll-padding-top: 15vh; */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
}


.footer {
	/* scroll-snap-stop: always; */
	/* scroll-snap-align: end; */
  /* margin-top: auto; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 12px;
  text-decoration: none;
}

.footer a {
  color: black;
  font-size: 12px;
  text-decoration: none;
  font-style:normal;
  padding: 5px 10px 5px 0px;
  font-size: 15px;
}


/* resume page */
.resume {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 100%; */
    margin-bottom: 25px
}

#resume-img {
  width: 50%;
}

.button {
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #003b6e;
    border: none;
    border-radius: 15px;
  }
  
  .button:hover {background-color: #205481}
  
  .button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }

/* about page */
  .about-me-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    flex-direction: column;
    /* width: 80%; */
  }

  .about-me-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 50px;
  }

  #about-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    /* height: 639px; */
    flex-shrink: 0;
  }

  
  @media screen and (max-width: 600px) {

    .main-header-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-image: url("/assets/header.gif");
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
    }

    .main-header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* flex-wrap: wrap; */
    }

    .header-text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }  

    .intro-text {
      display: flex;
      /* align-items: stretch; */
      flex-direction: column;
      width: 442px;
      height: 272px;
      flex-shrink: 0;
    }

    .typewriter h1 {
      font-size: 20px;
      font-family: DM Sans;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid black; /* The typwriter cursor */
      white-space: wrap; /* Keeps the content on a single line */
      margin: 10 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .1em; /* Adjust as needed */

      animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
    }    

    h2 {
      font-size: 25px;
      text-wrap: wrap;
      padding: 20px 50px 45px 50px;
    }


    h3 {
      color: #000000;
  
      font-family: DM Sans;
      font-size: 30px;
      font-weight: 400;

      text-align: left;
    }

    h5 {
      display: flex;
      justify-content: center;
      text-wrap: wrap;
      padding-bottom: 50px;
    }

    .project-cover-content {
      align-content: center;
      width: 55%; 
      margin: 50px 0px 50px 50px;
    }

    .resume {
      display: flex;
      /* align-items: center; */
      /* justify-content: center; */
      /* flex-direction: column; */
      height: 100vh;
      /* margin-bottom: 25px */
    }
      
    #resume-img {
      width: 85%;
    }
  
    .about-me-section {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 5px;
    }

    .about-me-container {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-left: 50px;
      margin-right: 50px;
      flex-direction: column;
    }

    .about-me-container h2, p {
      padding: 10px;
    }
    

    #about-img {
      width: 100%;
    }
  
    
  }
