/* applies to all pages */
body {
    font-family: DM Sans;
    background-color: #F6F5EF;
}

.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    /* padding: 10px; */
}

.navigation-links {
    display: flex;
    gap: 50px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-text {
  text-decoration: none;
}


/* homepage */
.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/assets/header.gif");
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-size: cover;
}

.intro-text {
    width: 442px;
    height: 272px;
    flex-shrink: 0;
}

#memoji {
  width: 100px;
}

h1 {
    color: var(--Main-Black, #181717);
    font-family: DM Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 97.2%; /* 58.32px */
    letter-spacing: -1.8px;
}

.typewriter h1 {
  /* color: #fff; */
  font-family: DM Sans;
  font-size: 35px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  20% { border-color: black }
}


h2 {
    color: #606060;

    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%; /* 37.44px */
    letter-spacing: -0.96px;
    text-align: left;
}


#down-arrow {
  width: 5%;
  margin-bottom: 50px;
}

#down-arrow:hover {
  width: 5%;
  margin-bottom: 50px;
  position: relative;
  top: 10px;
}

.project-card1 {
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url("/assets/bookmark-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; /* Set the height to 100% of the viewport height */
  /* width: 100%;  */
}

.project-card2 {
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url("/assets/search-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; /* Set the height to 100% of the viewport height */
  /* width: 100%;  */
}

.project-cover-content {
  align-content: center;
  width: 35%; 
  margin: 100px;
}


/* 
.scroller {
  height: 755px;
  overflow-y: scroll;
  scroll-snap-type: y proximity;

  scroll-padding-top: 15vh;
  overflow-y: scroll;
}

.scroller section {
  scroll-snap-align: start;
}
 */


 .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* resume page */
.resume {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 100%; */
    margin-bottom: 25px
}

.resume-img {
  width: 50%;
}

.button {
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
  }
  
  .button:hover {background-color: #238126}
  
  .button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }

  /* about page */
  .about-me-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    flex-direction: column;
    /* width: 80%; */
  }

  .about-me-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 50px;
  }

  .about-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
    /* height: 639px; */
    flex-shrink: 0;
  }

  /* @keyframes name */
  /* transform:  */
  /* animation: name duration transition infinite */
  
  @media screen and (max-width: 600px) {

    .main-header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 730px;
    }

    .typewriter h1 {
      font-size: 35px;
      font-family: DM Sans;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid black; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .1em; /* Adjust as needed */
      animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
    }    

    h3 {
      color: #000000;
  
      font-family: DM Sans;
      font-size: 50px;
      font-weight: 400;
      line-height: 117%; /* 37.44px */
    }
  }
